{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.jsonc",
      "options": {
        "parser": "jsonc"
      }
    },
    {
      "files": ["package.json", "package-lock.json", "tsconfig*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
